* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* background-color: #cacaca; */
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 10em;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding: 10px;
    margin: 10px;
    /* background-color: grey; */

}

button {
    background: none;
    font-size: 20px;
    padding: 10px;
}